* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./_mixins.scss";
@import "./_variable.scss";
@import "./_mixins.scss";

a {
    color: $text-dark;
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    overflow: hidden;
    overflow-y: scroll;
}


// Scroll Bar Design 
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b5b5b5;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5;
}

.fixed {
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
}

/* ======================TopNav======================== */
.top-nav {
    background-color: $light-blue;
    text-align: center;
    padding: 8px 4px;
    font-weight: 800;
    font-family: 'Roboto';
    font-size: 15px;
}

.logo-nav {
    text-align: center;
    border-bottom: 1px solid silver;
    width: 98%;
    margin: 0 auto;
    padding: 1.5rem 0;
    background-color: $white;
    position: relative;

    & .main-logo {
        width: 150px;
        transition: left 0.5s;
    }

    .search-section {
        position: absolute;
        right: 10px;
        top: 18px;

        ul {
            list-style: none;
            display: flex;

            li {
                margin: 0 0.5rem;

                & .bi-search {
                    float: right;
                    position: relative;
                    cursor: pointer;
                }

                & .searchTax {
                    visibility: hidden;
                    z-index: 2;
                    border-radius: 5px;
                    border: 1px solid silver;
                    padding-left: 8px;
                    padding-right: 28px;
                    color: #737171;
                    outline: none;
                    margin-right: -25px;

                    & :focus,
                    & :active,
                    & :focus-visible {
                        border: 1px solid silver;
                        outline: none;

                    }
                }

                & .bi-search:hover+.searchTax {
                    visibility: visible;
                }

                & i {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    border-radius: 4rem;
                    background: #f4f4f4;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    overflow: hidden;
                    transition: 400ms ease-in-out;
                    position: relative;
                }

                .search-wrapper {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    border-radius: 4rem;
                    background: #fff;
                    align-items: center;
                    justify-content: end;
                    outline: none;
                    overflow: hidden;
                    transition: 400ms ease-in-out;
                    position: relative;

                    & input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        margin-left: 15px;
                        margin-right: 2px;
                        outline: none;
                        border: none;
                        font-size: 1.2rem;
                        box-sizing: border-box;
                        font-size: 13px;

                        &::placeholder {
                            font-size: 13px;
                        }

                        & .search-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 2rem;
                            border-radius: 50%;
                            border: none;
                            width: 50px;
                            height: 50px;
                            cursor: pointer;
                            margin-left: auto;
                            z-index: 1;

                            & i {
                                color: #000;
                                font-size: 1rem;
                            }
                        }

                    }
                }


                .active {
                    width: 250px;
                    border: 1px solid #888;
                }
            }
        }
    }
}

.main-nav {
    background-color: $white;
    display: flex;
    align-items: center;
    width: 100%;

    // navbar style 
    & .main-menu {
        width: 100vw;
        display: inline-flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        position: relative;

        & li {
            margin: 1rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0;

            // mega menu 
            .mega-menu {
                opacity: 0;
                visibility: hidden;
                width: 100%;
                margin: 0 auto;
                padding: 1.8rem;
                border-radius: 10px;
                max-height: 300px;
                overflow: hidden;
                position: absolute;
                left: 0;
                overflow-y: scroll;
                top: 60px;
                text-transform: none;
                transition: all 0.3s ease;
            }

            &:hover .mega-menu {
                opacity: 1;
                visibility: visible;
            }
        }
    }


}

.logo-fix {
    padding-left: 2%;
    display: none;

    .logoFix {
        width: 100px;
    }
}

.search-fix {
    float: right;
    padding-right: 3px;
    display: none;

    ul {
        list-style: none;
        display: flex;
        margin-bottom: 0;
        li {
            margin: 0 1rem;
        }
    }
}

.visible {
    visibility: visible !important;
}















//Responsive File Always be at end so it will override desktop styles in similar screens
@import './_responsive.scss';